{"openapi":"3.0.1","info":{"title":"Zoho Work Drive Documentation","description":"Work Drive API","license":{"name":"Apache 2.0"},"version":"1.0"},"servers":[{"url":"https://sakthi-15300.tsi.zohocorpin.com:8556"}],"tags":[{"name":"overview","description":"","type":"text"},{"name":"getting started","description":"","type":"text"},{"name":"OAuth 2.0 Authentication","description":"","type":"text"},{"name":"Files/Folders"},{"name":"File Version"},{"name":"Users"},{"name":"Teams"},{"name":"Team Members"},{"name":"Team Folder"},{"name":"Team Folder Members"},{"name":"Groups"},{"name":"Group Members"},{"name":"Folders"},{"name":"Folder Customization"},{"name":"Get Recent Changes"},{"name":"File/Folder Sharing"},{"name":"Chunk Upload"},{"name":"Search"},{"name":"External Sharing"},{"name":"Comments"},{"name":"Team Member Files"},{"name":"My Folders Files"},{"name":"Collect Files"},{"name":"Follow Updates"},{"name":"Data Templates and Custom Fields"},{"name":"Templates"},{"name":"Labels"},{"name":"aicontent"},{"name":"Data Loss Prevention","description":"Manage Data Loss Prevention Policies"},{"name":"filesummary"},{"name":"Images"},{"name":"Languages"},{"name":"PlatformAIDetail"},{"name":"structuredextraction"},{"name":"texttransformation"}],"paths":{"v1/workdrive/download/{resource_id}#downloadServerFile":{"get":{"tags":["Files/Folders"],"summary":"Download File","requestType":"http","operationId":"isDownloadAuthorized_downloadServerFile","parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"version","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"type":"boolean"}}}}},"security":[{"Authorization":["WorkDrive.files.READ,ZohoFiles.files.READ"]}],"servers":[{"url":"https://download.zoho.com","variables":{}}]}},"v1/workdrive/download/{resource_id}#downloadServerFileVersion":{"get":{"tags":["File Version"],"summary":"Download File Version","requestType":"http","operationId":"isDownloadAuthorized_downloadServerFileVersion","parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"version","in":"query","schema":{"type":"string"},"example":"file_version_number"}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"type":"boolean"}}}}},"security":[{"Authorization":["WorkDrive.files.READ,ZohoFiles.files.READ"]}],"servers":[{"url":"https://download.zoho.com","variables":{}}]}},"downloadprogress#downloadProgress":{"get":{"tags":["Files/Folders"],"summary":"Multi Download Progress","requestType":"http","operationId":"download_downloadProgress","parameters":[{"name":"progressid","in":"query","schema":{"type":"string"},"example":"{zuid}_{wms_key_in_api_response}"}],"responses":{"default":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/UploadAPIServlet"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/category/{category_id}#getTemplateCategoryInfo":{"get":{"tags":["Templates"],"summary":"Get Category Info","requestType":"http","operationId":"findOne_getTemplateCategoryInfo","parameters":[{"name":"category_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Category"}}}}},"security":[{"Authorization":["WorkDrive.libraries.categories.READ"]}]}},"api/v1/category/{category_id}/files#fetchcategoryfileslist":{"get":{"tags":["Templates"],"summary":"Get all Templates in a Template Category","requestType":"http","operationId":"findManyTargets_fetchcategoryfileslist","parameters":[{"name":"category_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter[type]","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.libraries.categories.READ"]}]}},"api/v1/changes#GetListOfRecentChanges":{"get":{"tags":["Get Recent Changes"],"summary":"Get list of Recent Changes","requestType":"http","operationId":"findAll_GetListOfRecentChanges","parameters":[{"name":"page[next]","in":"query","schema":{"type":"string"},"example":"{token}"}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Changes"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/changes/{resource_id}#GetStartToken":{"get":{"tags":["Get Recent Changes"],"summary":"Get Start Token","requestType":"http","operationId":"findOne_GetStartToken","parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"page[token]","in":"query","schema":{"type":"string"},"example":"{token}"},{"name":"page[limit]","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Changes"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/collections/{collection_id}#GetCollectionInfo":{"get":{"tags":["Collect Files"],"summary":"Get Collection Info","requestType":"http","operationId":"findOne_GetCollectionInfo","parameters":[{"name":"collection_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Collections"}}}}},"security":[{"Authorization":["WorkDrive.Collection.READ"]}]}},"api/v1/collections/{collection_id}/submissions#GetListOfAllCollectionSubmissions":{"get":{"tags":["Collect Files"],"summary":"Get list of all Submissions","requestType":"http","operationId":"findManyTargets_GetListOfAllCollectionSubmissions","parameters":[{"name":"collection_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"page[limit]","in":"query","schema":{"type":"string"},"example":200},{"name":"page[offset]","in":"query","schema":{"type":"string"},"example":0}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Submissions"}}}}},"security":[{"Authorization":["WorkDrive.Collection.READ"]}]}},"api/v1/comments/{comment_id}#getCommentInfo":{"get":{"tags":["Comments"],"summary":"Get Comment Info","requestType":"http","operationId":"findOne_getCommentInfo","parameters":[{"name":"comment_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Comment"}}}}},"security":[{"Authorization":["WorkDrive.comments.READ"]}]}},"api/v1/datatemplates/{data_template_id}/customfields#getListOfCustomFieldsOfDataTemplate":{"get":{"tags":["Data Templates and Custom Fields"],"summary":"Get List of Custom Fields","requestType":"http","operationId":"findManyTargets_getListOfCustomFieldsOfDataTemplate","parameters":[{"name":"data_template_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomFields"}}}}},"security":[{"Authorization":["WorkDrive.DataTemplates.READ"]}]}},"api/v1/groups/{group_id}/groupmembers#getGroupMembers":{"get":{"tags":["Groups"],"summary":"Get List of Group Members","requestType":"http","operationId":"findManyTargets_getGroupMembers","parameters":[{"name":"group_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupMembers"}}}}},"security":[{"Authorization":["WorkDrive.groups.READ"]}]}},"api/v1/groupmembers/{group_member_id}#getGroupMemberInfo":{"get":{"tags":["Group Members"],"summary":"Get Group Member Info","requestType":"http","operationId":"findOne_getGroupMemberInfo","parameters":[{"name":"group_member_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupMembers"}}}}},"security":[{"Authorization":["WorkDrive.groups.READ"]}]}},"api/v1/groups/{group_id}#getGroupInfo":{"get":{"tags":["Groups"],"summary":"Get Group Info","requestType":"http","operationId":"findOne_getGroupInfo","parameters":[{"name":"group_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Groups"}}}}},"security":[{"Authorization":["WorkDrive.groups.READ"]}]}},"api/v1/labels/{label_id}#getLabel":{"get":{"tags":["Labels"],"summary":"Get Label","requestType":"http","operationId":"findOne_getLabel","parameters":[{"name":"label_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Labels"}}}}},"security":[{"Authorization":["WorkDrive.labels.READ"]}]}},"api/v1/libraries/{library_id}/categories#fetchLibraryCategoriesList":{"get":{"tags":["Templates"],"summary":"Get list of Categories","requestType":"http","operationId":"findManyTargets_fetchLibraryCategoriesList","parameters":[{"name":"library_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Category"}}}}},"security":[{"Authorization":["WorkDrive.libraries.categories.READ"]}]}},"api/v1/libraries/{library_id}/permissions#fetchLibraryPermissions":{"get":{"tags":["Templates"],"summary":"Get Template Library Permissions","requestType":"http","operationId":"findManyTargets_fetchLibraryPermissions","parameters":[{"name":"library_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Permissions"}}}}},"security":[{"Authorization":["WorkDrive.libraries.sharing.READ"]}]}},"api/v1/libraries#fetchPublicLibraries":{"get":{"tags":["Templates"],"summary":"Get Public Templates Library ID","requestType":"http","operationId":"findAll_fetchPublicLibraries","parameters":[{"name":"filter[type]","in":"query","schema":{"type":"string"},"example":2},{"name":"filter[space]","in":"query","schema":{"type":"string"},"example":"template"}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Libraries"}}}}},"security":[{"Authorization":["WorkDrive.libraries.READ"]}]}},"api/v1/libraries/{library_id}#fetchlibrariesinfo":{"get":{"tags":["Templates"],"summary":"Get Template Library Info","requestType":"http","operationId":"findOne_fetchlibrariesinfo","parameters":[{"name":"library_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Libraries"}}}}},"security":[{"Authorization":["WorkDrive.libraries.READ"]}]}},"api/v1/libraries/{library_id}/files#fetchlibraryfileslist":{"get":{"tags":["Templates"],"summary":"Get all Templates from a Template Library","requestType":"http","operationId":"findManyTargets_fetchlibraryfileslist","parameters":[{"name":"library_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter[type]","in":"query","schema":{"type":"string"}},{"name":"filter[category_id]","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.libraries.READ"]}]}},"api/v1/links/{link_id}#getLinkInfo":{"get":{"tags":["External Sharing"],"summary":"Get External Share Link Info","requestType":"http","operationId":"findOne_getLinkInfo","parameters":[{"name":"link_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Link"}}}}},"security":[{"Authorization":["WorkDrive.links.READ"]}]}},"api/v1/members/{member_id}#getCollaborationInfo":{"get":{"tags":["Team Folder Sharing"],"summary":"Get TeamFolder Collaboration Info","requestType":"http","operationId":"findOne_getCollaborationInfo","parameters":[{"name":"member_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Members"}}}}},"security":[{"Authorization":["WorkDrive.teamfolders.sharing.READ"]}]}},"api/v1/permissions/{permission_id}#getCollaborationInfo":{"get":{"tags":["File/Folder Sharing"],"summary":"Get File/Folder Collaboration Info","requestType":"http","operationId":"findOne_getCollaborationInfo","parameters":[{"name":"permission_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Permissions"}}}}},"security":[{"Authorization":["WorkDrive.files.sharing.READ"]}]}},"api/v1/privatespace/{myfolder_id}/links#myFolderLinks":{"get":{"tags":["My Folders Files"],"summary":"Get My Folders Links","requestType":"http","operationId":"findManyTargets_myFolderLinks","parameters":[{"name":"myfolder_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter[type]","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Link"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/privatespace/{myfolder_id}/files#myFolderFiles":{"get":{"tags":["My Folders Files"],"summary":"Get Files in My Folders","requestType":"http","operationId":"findManyTargets_myFolderFiles","parameters":[{"name":"myfolder_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter[type]","in":"query","schema":{"type":"string"}},{"name":"filter[extension]","in":"query","schema":{"type":"string"}},{"name":"page[limit]","in":"query","schema":{"type":"string"},"example":50},{"name":"page[offset]","in":"query","schema":{"type":"string"},"example":0},{"name":"page[next]","in":"query","schema":{"type":"string"}},{"name":"fields[files]","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/privatespace/{myfolder_id}/folders#subFolders":{"get":{"tags":["My Folders Files"],"summary":"Get Folders in My Folders","requestType":"http","operationId":"findManyTargets_subFolders","parameters":[{"name":"myfolder_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"page[limit]","in":"query","schema":{"type":"string"},"example":50},{"name":"page[offset]","in":"query","schema":{"type":"string"},"example":0},{"name":"sort","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/privatespace/{myfolder_id}/trashedfiles#myTrashedFiles":{"get":{"tags":["My Folders Files"],"summary":"Get Trashed Files in My Folders","requestType":"http","operationId":"findManyTargets_myTrashedFiles","parameters":[{"name":"myfolder_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"page[limit]","in":"query","schema":{"type":"string"},"example":50},{"name":"page[offset]","in":"query","schema":{"type":"string"},"example":0},{"name":"sort","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/files/{resource_id}/comments#getComments":{"get":{"tags":["Files/Folders"],"summary":"Get File Comments","requestType":"http","operationId":"findManyTargets_getComments","parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Comment"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/files/{resource_id}/custommetadata#getListOfDataTemplatesAssociatedWithFileFolder":{"get":{"tags":["Files/Folders"],"summary":"Get list of associated Data Templates","requestType":"http","operationId":"findManyTargets_getListOfDataTemplatesAssociatedWithFileFolder","parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomMetaData"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/files/{resource_id}/links#getSharedLinks":{"get":{"tags":["Files/Folders"],"summary":"Get File/Folder External Share Links","requestType":"http","operationId":"findManyTargets_getSharedLinks","parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter[type]","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Link"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/files/{resource_id}/permissions#getSharedUsers":{"get":{"tags":["Files/Folders"],"summary":"Get Shared Users of File","requestType":"http","operationId":"findManyTargets_getSharedUsers","parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Permissions"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/files/{folder_id}/files#getFileList":{"get":{"tags":["Folders"],"summary":"List Files/Folders inside a Folder","requestType":"http","operationId":"findManyTargets_getFileList","parameters":[{"name":"folder_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter[type]","in":"query","schema":{"type":"string"}},{"name":"filter[externalUpload]","in":"query","schema":{"type":"string"}},{"name":"filter[extension]","in":"query","schema":{"type":"string"}},{"name":"page[limit]","in":"query","schema":{"type":"string"},"example":50},{"name":"page[offset]","in":"query","schema":{"type":"string"},"example":0},{"name":"page[next]","in":"query","schema":{"type":"string"}},{"name":"fields[files]","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/files/{resource_id}/versions#getVersion":{"get":{"tags":["Files/Folders"],"summary":"Get File Versions","requestType":"http","operationId":"findManyTargets_getVersion","parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Version"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/files/{resource_id}/breadcrumbs#breadcrumbsOfFile":{"get":{"tags":["Files/Folders"],"summary":"Get File/Folder Breadcrumbs","requestType":"http","operationId":"findManyTargets_breadcrumbsOfFile","parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BreadCrumbs"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/files/{resource_id}/previewinfo#getFilePreview":{"get":{"tags":["Files/Folders"],"summary":"Get Preview Meta Data","requestType":"http","operationId":"findOneTarget_getFilePreview","parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PreviewInfo"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/files/{resource_id}#fileInfo":{"get":{"tags":["Files/Folders"],"summary":"Get File/Folder Info","requestType":"http","operationId":"findOne_fileInfo","parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/files/{resource_id}#getFileThumbnail":{"get":{"tags":["Files/Folders"],"summary":"Get File Thumbnail URL","requestType":"http","operationId":"findOne_getFileThumbnail","parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/resourceproperty/{resource_id}#fileProperty":{"get":{"tags":["Files/Folders"],"summary":"Get File/Folder ResourceProperty","requestType":"http","operationId":"findOneTarget_fileProperty","parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResourceProperty"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/files/{resource_id}/statistics#getFileStatistics":{"get":{"tags":["Files/Folders"],"summary":"Get File/Folder statistics","requestType":"http","operationId":"findOneTarget_getFileStatistics","parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Statistics"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/teamfolders/{teamfolder_id}/settings#getTeamFolderSetting":{"get":{"tags":["Team Folder"],"summary":"Get Team Folder Settings","requestType":"http","operationId":"findOne_getTeamFolderSetting","parameters":[{"name":"teamfolder_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Setting"}}}}},"security":[{"Authorization":["WorkDrive.teamfolders.READ"]}]}},"api/v1/teams/{team_id}/settings#getTeamSetting":{"get":{"tags":["Teams"],"summary":"Get Team Settings","requestType":"http","operationId":"findOne_getTeamSetting","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Setting"}}}}},"security":[{"Authorization":["WorkDrive.team.admin.READ"]}]}},"api/v1/submissions/{submission_id}/files#GetListOfAllTheSubmittedFiles":{"get":{"tags":["Collect Files"],"summary":"Get list of all user submissions","requestType":"http","operationId":"findManyTargets_GetListOfAllTheSubmittedFiles","parameters":[{"name":"submission_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.Collection.READ"]}]}},"api/v1/teams/{team_id}/collections#GetListOfAllCollectionLinks":{"get":{"tags":["Collect Files"],"summary":"Get list of all Collection links","requestType":"http","operationId":"findManyTargets_GetListOfAllCollectionLinks","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Collections"}}}}},"security":[{"Authorization":["WorkDrive.Collection.READ"]}]}},"api/v1/teams/{team_id}/datatemplates#getListOfDataTemplatesInATeam":{"get":{"tags":["Teams"],"summary":"Get List of Data Templates in a Team","requestType":"http","operationId":"findManyTargets_getListOfDataTemplatesInATeam","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataTemplates"}}}}},"security":[{"Authorization":["WorkDrive.team.READ"]}]}},"api/v1/teamfolders/{teamfolder_id}/files#getTeamFolderFiles":{"get":{"tags":["Team Folder"],"summary":"Get Team Folder Files and Folders","requestType":"http","operationId":"findManyTargets_getTeamFolderFiles","parameters":[{"name":"teamfolder_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter[type]","in":"query","schema":{"type":"string"}},{"name":"filter[extension]","in":"query","schema":{"type":"string"}},{"name":"page[limit]","in":"query","schema":{"type":"string"},"example":50},{"name":"page[offset]","in":"query","schema":{"type":"string"},"example":0},{"name":"page[next]","in":"query","schema":{"type":"string"}},{"name":"fields[files]","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.teamfolders.READ"]}]}},"api/v1/teamfolders/{teamfolder_id}/folders#getTeamFolderFolders":{"get":{"tags":["Team Folder"],"summary":"Get list of Sub Folders","requestType":"http","operationId":"findManyTargets_getTeamFolderFolders","parameters":[{"name":"teamfolder_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"page[limit]","in":"query","schema":{"type":"string"},"example":50},{"name":"page[offset]","in":"query","schema":{"type":"string"},"example":0},{"name":"sort","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.teamfolders.READ"]}]}},"api/v1/teamfolders/{teamfolder_id}/unreadfiles#getUnreadFiles":{"get":{"tags":["Team Folder"],"summary":"Get Team Folder Unread Files","requestType":"http","operationId":"findManyTargets_getUnreadFiles","parameters":[{"name":"teamfolder_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter[type]","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.teamfolders.READ"]}]}},"api/v1/teamfolders/{teamfolder_id}/trashedfiles#getTrashedFiles":{"get":{"tags":["Team Folder"],"summary":"Get Team Folder Trashed Files","requestType":"http","operationId":"findManyTargets_getTrashedFiles","parameters":[{"name":"teamfolder_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter[type]","in":"query","schema":{"type":"string"}},{"name":"page[limit]","in":"query","schema":{"type":"string"},"example":50},{"name":"page[offset]","in":"query","schema":{"type":"string"},"example":0},{"name":"sort","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.teamfolders.admin.READ"]}]}},"api/v1/teamfolders/{teamfolder_id}/mydrafts#getMyDraftFiles":{"get":{"tags":["Team Folder"],"summary":"Get Team Folder MyDraft Files","requestType":"http","operationId":"findManyTargets_getMyDraftFiles","parameters":[{"name":"teamfolder_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter[type]","in":"query","schema":{"type":"string"}},{"name":"page[limit]","in":"query","schema":{"type":"string"},"example":50},{"name":"page[offset]","in":"query","schema":{"type":"string"},"example":0},{"name":"sort","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.teamfolders.READ"]}]}},"api/v1/teamfolders/{teamfolder_id}/links#getTeamFolderLinks":{"get":{"tags":["Team Folder"],"summary":"Get Team Folder Links","requestType":"http","operationId":"findManyTargets_getTeamFolderLinks","parameters":[{"name":"teamfolder_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter[type]","in":"query","schema":{"type":"string"}},{"name":"page[limit]","in":"query","schema":{"type":"string"},"example":50},{"name":"page[offset]","in":"query","schema":{"type":"string"},"example":0}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Link"}}}}},"security":[{"Authorization":["WorkDrive.teamfolders.admin.READ"]}]}},"api/v1/teamfolders/{teamfolder_id}/members#getTeamFolderSharedUsers":{"get":{"tags":["Team Folder"],"summary":"Get Team Folder Members","requestType":"http","operationId":"findManyTargets_getTeamFolderSharedUsers","parameters":[{"name":"teamfolder_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Members"}}}}},"security":[{"Authorization":["WorkDrive.teamfolders.READ"]}]}},"api/v1/teamfolders/{teamfolder_id}#GetTeamFoldersInfo":{"get":{"tags":["Team Folder"],"summary":"Get Team Folder Info","requestType":"http","operationId":"findOne_GetTeamFoldersInfo","parameters":[{"name":"teamfolder_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TeamFolders"}}}}},"security":[{"Authorization":["WorkDrive.teamfolders.READ"]}]}},"api/v1/teams/{team_id}/groups#listTeamGroups":{"get":{"tags":["Teams"],"summary":"Get Groups in a Team","requestType":"http","operationId":"findManyTargets_listTeamGroups","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter[type]","in":"query","schema":{"type":"string"}},{"name":"page[limit]","in":"query","schema":{"type":"string"},"example":50},{"name":"page[offset]","in":"query","schema":{"type":"string"},"example":0}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Groups"}}}}},"security":[{"Authorization":["WorkDrive.team.READ"]}]}},"api/v1/teams/{team_id}/libraries#fetchteamlibraries":{"get":{"tags":["Templates"],"summary":"Get Org Templates Library ID","requestType":"http","operationId":"findManyTargets_fetchteamlibraries","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter[type]","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Libraries"}}}}},"security":[{"Authorization":["WorkDrive.libraries.READ"]}]}},"api/v1/teams/{team_id}#GetTeamInfo":{"get":{"tags":["Teams"],"summary":"Get Team Info","requestType":"http","operationId":"findOne_GetTeamInfo","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Team"}}}}},"security":[{"Authorization":["WorkDrive.team.READ"]}]}},"api/v1/teams/{team_id}/records#SearchDataTemplate":{"get":{"tags":["Search"],"summary":"Search based on Data Template","requestType":"http","operationId":"findManyTargets_SearchDataTemplate","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"search[all|name|content]","in":"query","schema":{"type":"string"},"example":"{query}"},{"name":"filter[datatemplate]","in":"query","schema":{"type":"string"},"example":"{data_template_id}"},{"name":"filter[customFields]","in":"query","schema":{"type":"string"}},{"name":"filter[type]","in":"query","schema":{"type":"string"}},{"name":"filter[date]","in":"query","schema":{"type":"string"}},{"name":"filter[fromDate]","in":"query","schema":{"type":"string"}},{"name":"filter[toDate]","in":"query","schema":{"type":"string"}},{"name":"filter[status]","in":"query","schema":{"type":"string"}},{"name":"filter[creator]","in":"query","schema":{"type":"string"}},{"name":"page[limit]","in":"query","schema":{"type":"string"},"example":50},{"name":"page[offset]","in":"query","schema":{"type":"string"},"example":0},{"name":"sort","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["ZohoSearch.securesearch.READ,WorkDrive.team.READ"]}]}},"api/v1/teams/{team_id}/records#SearchAcrossFolder":{"get":{"tags":["Search"],"summary":"Search across Folder","requestType":"http","operationId":"findManyTargets_SearchAcrossFolder","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"search[all|name|content]","in":"query","schema":{"type":"string"},"example":"{query}"},{"name":"filter[parentId]","in":"query","schema":{"type":"string"},"example":"{parentfolder_id}"},{"name":"filter[type]","in":"query","schema":{"type":"string"}},{"name":"filter[date]","in":"query","schema":{"type":"string"}},{"name":"filter[fromDate]","in":"query","schema":{"type":"string"}},{"name":"filter[toDate]","in":"query","schema":{"type":"string"}},{"name":"filter[status]","in":"query","schema":{"type":"string"}},{"name":"filter[creator]","in":"query","schema":{"type":"string"}},{"name":"page[limit]","in":"query","schema":{"type":"string"},"example":50},{"name":"page[offset]","in":"query","schema":{"type":"string"},"example":0},{"name":"sort","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["ZohoSearch.securesearch.READ,WorkDrive.team.READ"]}]}},"api/v1/teams/{team_id}/records#SearchSharedWithMe":{"get":{"tags":["Search"],"summary":"Search in Shared with Me","requestType":"http","operationId":"findManyTargets_SearchSharedWithMe","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"search[all|name|content]","in":"query","schema":{"type":"string"},"example":"{query}"},{"name":"filter[sharedResources]","in":"query","schema":{"type":"string"},"example":"{zuid}"},{"name":"filter[type]","in":"query","schema":{"type":"string"}},{"name":"filter[date]","in":"query","schema":{"type":"string"}},{"name":"filter[fromDate]","in":"query","schema":{"type":"string"}},{"name":"filter[toDate]","in":"query","schema":{"type":"string"}},{"name":"filter[status]","in":"query","schema":{"type":"string"}},{"name":"filter[creator]","in":"query","schema":{"type":"string"}},{"name":"page[limit]","in":"query","schema":{"type":"string"},"example":50},{"name":"page[offset]","in":"query","schema":{"type":"string"},"example":0},{"name":"sort","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["ZohoSearch.securesearch.READ,WorkDrive.team.READ"]}]}},"api/v1/teams/{team_id}/records#SearchTeamFiles":{"get":{"tags":["Search"],"summary":"Search across Team","requestType":"http","operationId":"findManyTargets_SearchTeamFiles","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"search[all|name|content]","in":"query","schema":{"type":"string"},"example":"{query}"},{"name":"filter[type]","in":"query","schema":{"type":"string"}},{"name":"filter[date]","in":"query","schema":{"type":"string"}},{"name":"filter[fromDate]","in":"query","schema":{"type":"string"}},{"name":"filter[toDate]","in":"query","schema":{"type":"string"}},{"name":"filter[status]","in":"query","schema":{"type":"string"}},{"name":"filter[creator]","in":"query","schema":{"type":"string"}},{"name":"page[limit]","in":"query","schema":{"type":"string"},"example":50},{"name":"page[offset]","in":"query","schema":{"type":"string"},"example":0},{"name":"sort","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["ZohoSearch.securesearch.READ,WorkDrive.team.READ"]}]}},"api/v1/teams/{team_id}/records#SearchTeamFolder":{"get":{"tags":["Search"],"summary":"Search across Team Folder","requestType":"http","operationId":"findManyTargets_SearchTeamFolder","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"search[all|name|content]","in":"query","schema":{"type":"string"},"example":"{query}"},{"name":"filter[teamFolder]","in":"query","schema":{"type":"string"},"example":"{teamfolder_id}"},{"name":"filter[type]","in":"query","schema":{"type":"string"}},{"name":"filter[date]","in":"query","schema":{"type":"string"}},{"name":"filter[fromDate]","in":"query","schema":{"type":"string"}},{"name":"filter[toDate]","in":"query","schema":{"type":"string"}},{"name":"filter[status]","in":"query","schema":{"type":"string"}},{"name":"filter[creator]","in":"query","schema":{"type":"string"}},{"name":"page[limit]","in":"query","schema":{"type":"string"},"example":50},{"name":"page[offset]","in":"query","schema":{"type":"string"},"example":0},{"name":"sort","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["ZohoSearch.securesearch.READ,WorkDrive.team.READ"]}]}},"api/v1/teams/{team_id}/records#SearchMyFolders":{"get":{"tags":["Search"],"summary":"Search in My Folders","requestType":"http","operationId":"findManyTargets_SearchMyFolders","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"search[all|name|content]","in":"query","schema":{"type":"string"},"example":"{query}"},{"name":"filter[user]","in":"query","schema":{"type":"string"},"example":"{zuid}"},{"name":"filter[type]","in":"query","schema":{"type":"string"}},{"name":"filter[date]","in":"query","schema":{"type":"string"}},{"name":"filter[fromDate]","in":"query","schema":{"type":"string"}},{"name":"filter[toDate]","in":"query","schema":{"type":"string"}},{"name":"filter[status]","in":"query","schema":{"type":"string"}},{"name":"page[limit]","in":"query","schema":{"type":"string"},"example":50},{"name":"page[offset]","in":"query","schema":{"type":"string"},"example":0},{"name":"sort","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["ZohoSearch.securesearch.READ,WorkDrive.team.READ"]}]}},"api/v1/teams/{team_id}/teamfolders#GetAllTeamFolders":{"get":{"tags":["Teams"],"summary":"Get Team Folders in a Team","requestType":"http","operationId":"findManyTargets_GetAllTeamFolders","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter[type]","in":"query","schema":{"type":"string"}},{"name":"page[limit]","in":"query","schema":{"type":"string"},"example":50},{"name":"page[offset]","in":"query","schema":{"type":"string"},"example":0}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TeamFolders"}}}}},"security":[{"Authorization":["WorkDrive.teamfolders.READ"]}]}},"api/v1/teams/{team_id}/users#getTeamUsers":{"get":{"tags":["Teams"],"summary":"Get Team Members","requestType":"http","operationId":"findManyTargets_getTeamUsers","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter[user]","in":"query","schema":{"type":"string"}},{"name":"search[all]","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Users"}}}}},"security":[{"Authorization":["WorkDrive.team.READ"]}]}},"api/v1/teams/{team_id}/currentuser#getCurrentTeamUser":{"get":{"tags":["Teams"],"summary":"Get Current Team Member","requestType":"http","operationId":"findManyTargets_getCurrentTeamUser","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Users"}}}}},"security":[{"Authorization":["WorkDrive.team.READ"]}]}},"api/v1/users/{team_member_id}/privatespace#getMyFolderId":{"get":{"tags":["My Folders Files"],"summary":"Get My Folders Id","requestType":"http","operationId":"findManyTargets_getMyFolderId","parameters":[{"name":"team_member_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PrivateSpace"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/users/{team_member_id}/suggestedFiles#suggestedFiles":{"get":{"tags":["Team Member Files"],"summary":"Get Suggested Files","requestType":"http","operationId":"findManyTargets_suggestedFiles","parameters":[{"name":"team_member_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/users/{team_member_id}/incomingfiles#sharedWithMeFiles":{"get":{"tags":["Team Member Files"],"summary":"Get Files in Shared with Me","requestType":"http","operationId":"findManyTargets_sharedWithMeFiles","parameters":[{"name":"team_member_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter[type]","in":"query","schema":{"type":"string"}},{"name":"filter[user]","in":"query","schema":{"type":"string"}},{"name":"filter[group]","in":"query","schema":{"type":"string"}},{"name":"page[limit]","in":"query","schema":{"type":"string"},"example":50},{"name":"page[offset]","in":"query","schema":{"type":"string"},"example":0},{"name":"sort","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/users/{team_member_id}/recentfiles#recentFiles":{"get":{"tags":["Team Member Files"],"summary":"Get Recent Files","requestType":"http","operationId":"findManyTargets_recentFiles","parameters":[{"name":"team_member_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter[type]","in":"query","schema":{"type":"string"}},{"name":"page[limit]","in":"query","schema":{"type":"string"},"example":50},{"name":"page[offset]","in":"query","schema":{"type":"string"},"example":0}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/users/{team_member_id}/favoritedfiles#favoriteFiles":{"get":{"tags":["Team Member Files"],"summary":"Get Favorited Files","requestType":"http","operationId":"findManyTargets_favoriteFiles","parameters":[{"name":"team_member_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter[type]","in":"query","schema":{"type":"string"}},{"name":"page[limit]","in":"query","schema":{"type":"string"},"example":50},{"name":"page[offset]","in":"query","schema":{"type":"string"},"example":0}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/users/{team_member_id}/incomingfolders#sharedWithMeFolders":{"get":{"tags":["Team Member Files"],"summary":"Get Folders in Shared with Me","requestType":"http","operationId":"findManyTargets_sharedWithMeFolders","parameters":[{"name":"team_member_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"page[limit]","in":"query","schema":{"type":"string"},"example":50},{"name":"page[offset]","in":"query","schema":{"type":"string"},"example":0}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/users/{team_member_id}/labeledfiles#labeledFiles":{"get":{"tags":["Team Member Files"],"summary":"Get Labeled Files","requestType":"http","operationId":"findManyTargets_labeledFiles","parameters":[{"name":"team_member_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter[label_id]","in":"query","schema":{"type":"string"}},{"name":"filter[type]","in":"query","schema":{"type":"string"}},{"name":"page[limit]","in":"query","schema":{"type":"string"},"example":50},{"name":"page[offset]","in":"query","schema":{"type":"string"},"example":0},{"name":"sort","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/users/{team_member_id}/groups#getUserGroups":{"get":{"tags":["Team Members"],"summary":"Get Team Member's Groups","requestType":"http","operationId":"findManyTargets_getUserGroups","parameters":[{"name":"team_member_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Groups"}}}}},"security":[{"Authorization":["WorkDrive.users.READ"]}]}},"api/v1/users/{team_member_id}/labels#getLabels":{"get":{"tags":["Labels"],"summary":"Get All Labels of the User","requestType":"http","operationId":"findManyTargets_getLabels","parameters":[{"name":"team_member_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Labels"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/users/{team_member_id}/libraries#fetchuserlibraries":{"get":{"tags":["Templates"],"summary":"Get My Templates Library ID","requestType":"http","operationId":"findManyTargets_fetchuserlibraries","parameters":[{"name":"team_member_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter[type]","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Libraries"}}}}},"security":[{"Authorization":["WorkDrive.libraries.READ"]}]}},"api/v1/users/{team_member_id}#getMemberInfo":{"get":{"tags":["Team Members"],"summary":"Get Team Member Info","requestType":"http","operationId":"findOne_getMemberInfo","parameters":[{"name":"team_member_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Users"}}}}},"security":[{"Authorization":["WorkDrive.users.READ"]}]}},"api/v1/users/me#getUserInfo#getUserInfo":{"get":{"tags":["Users"],"summary":"Get User Info","requestType":"http","operationId":"findOne_getUserInfo","responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Users"}}}}},"security":[{"Authorization":["WorkDrive.users.READ"]}]}},"api/v1/users/{team_member_id}/collaborators#getUserCollaborators":{"get":{"tags":["Team Members"],"summary":"Get Team Member Collaborators","requestType":"http","operationId":"findManyTargets_getUserCollaborators","parameters":[{"name":"team_member_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter[sharedtype]","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SharedCollaborators"}}}}},"security":[{"Authorization":["WorkDrive.users.READ"]}]}},"api/v1/users/{zuid}/teams#GetAllTeamsOfUser":{"get":{"tags":["Users"],"summary":"Get All Teams of User","requestType":"http","operationId":"findManyTargets_GetAllTeamsOfUser","parameters":[{"name":"zuid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Team"}}}}},"security":[{"Authorization":["WorkDrive.users.READ"]}]}},"uploadprogress#uploadStatus":{"get":{"tags":["Files/Folders"],"summary":"Upload Progress","requestType":"http","operationId":"doGet_uploadStatus","parameters":[{"name":"uploadid","in":"query","schema":{"type":"string"},"example":"upload_{ZohoUserID}_{upload-id_in_upload_larger_file_API}"}],"responses":{"default":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/FileUploadStatus"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"zipprogress#zipProgressFile":{"get":{"tags":["Files/Folders"],"summary":"Create ZIP Progress","requestType":"http","operationId":"doGet_zipProgressFile","parameters":[{"name":"progressid","in":"query","schema":{"type":"string"},"example":"{zuid}_{wms_key_in_api_response}"}],"responses":{"default":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ZipProgressStatus"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/uploadsession#chunkUploadStatus":{"get":{"tags":["Chunk Upload"],"summary":"Upload Session Progress","requestType":"http","operationId":"doGet_chunkUploadStatus","parameters":[{"name":"upload_id","in":"query","schema":{"type":"string"},"example":"{Upload_ID_from_the_Create_Session_API}"}],"responses":{"default":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/UploadSession"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/multizip#multiDownload":{"post":{"tags":["Files/Folders"],"summary":"Download Multiple Files/Folders as ZIP","requestType":"http","operationId":"doPost_multiDownload","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Files/Folders","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"files"},"attributes":{"type":"object","properties":{"resource_id":{"type":"string","example":"ly9zm7d2d47e189a041e3be9e64b86e4a79bd,ly9zm4af5c1d02da64bbca3398ab8080a6ba7"}}}}}]}}},"required":true},"responses":{"default":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchDownloadServlet"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/actions#emptyTrash":{"post":{"tags":["Team Folder"],"summary":"Empty Team Folder Trash","requestType":"http","operationId":"save_emptyTrash","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Team Folder","required":["id","type"],"type":"object","properties":{"id":{"type":"string","example":["emptytrash"]},"type":{"type":"string","example":"actions"},"attributes":{"type":"object","properties":{"parent_id":{"type":"string","example":"ly9zmacc69de0061b47ad9f09060734858fc4"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Actions"}}}}},"security":[{"Authorization":["WorkDrive.files.DELETE"]}]}},"api/v1/actions#emptyMyFolderTrash":{"post":{"tags":["My Folders Files"],"summary":"Empty My Folders Trash","requestType":"http","operationId":"save_emptyMyFolderTrash","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"My Folders Files","required":["id","type"],"type":"object","properties":{"id":{"type":"string","example":["emptytrash"]},"type":{"type":"string","example":"actions"},"attributes":{"type":"object","properties":{"parent_id":{"type":"string","example":"ly9zme5724e019a8e4cb48632945b1296be0a"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Actions"}}}}},"security":[{"Authorization":["WorkDrive.files.DELETE"]}]}},"api/v1/category#createTemplateCategory":{"post":{"tags":["Templates"],"summary":"Create Category","requestType":"http","operationId":"create_createTemplateCategory","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Templates","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"category"},"attributes":{"type":"object","properties":{"category_name":{"type":"string","example":"Marketing"},"library_id":{"type":"string","example":"ly9zm3c10f18ca7e3422db10f5b335d33b0cc"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Category"}}}}},"security":[{"Authorization":["WorkDrive.libraries.categories.CREATE"]}]}},"api/v1/category/{category_id}/relationships/files#updateTemplateCategory":{"post":{"tags":["Templates"],"summary":"Update Template Category","requestType":"http","operationId":"addRelations_updateTemplateCategory","parameters":[{"name":"category_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Templates","required":["id","type"],"type":"object","properties":{"id":{"type":"string","example":["ly9zm1d1ee3b833c1438a9232ad6ac77bc8f2","ly9zm3c10f18ca7e3422db10f5b335d33b0cc"]},"type":{"type":"string","example":"files"},"attributes":{"type":"object","properties":{"resource_id":{"type":"string","example":"ly9zm1d1ee3b833c1438a9232ad6ac77bc8f2"}}}}},{"title":"Templates","required":["id","type"],"type":"object","properties":{"id":{"type":"string","example":["ly9zm1d1ee3b833c1438a9232ad6ac77bc8f2","ly9zm3c10f18ca7e3422db10f5b335d33b0cc"]},"type":{"type":"string","example":"files"},"attributes":{"type":"object","properties":{"resource_id":{"type":"string","example":"ly9zm3c10f18ca7e3422db10f5b335d33b0cc"}}}}}]}}},"required":true},"responses":{"204":{"description":"NoContent"}},"security":[{"Authorization":["WorkDrive.libraries.categories.CREATE"]}]}},"api/v1/collections#createExternalCollection":{"post":{"tags":["Collect Files"],"summary":"Create External Collection","requestType":"http","operationId":"create_createExternalCollection","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Collect Files","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"collections"},"attributes":{"type":"object","properties":{"parent_id":{"type":"string","example":"vx57jc433ffa2c7524c51a5205d1849bc92fa"},"collection_name":{"type":"string","example":"Event Leads"},"personal_note":{"type":"string","example":"Analysis potential leads and assign them to the Sales team"},"uploader_note":{"type":"string","example":"Share all leads that you have collected in the recent Dubai Trade Fair"},"expiration_date":{"type":"string","example":"2021-05-20 11:45"},"is_external":{"type":"boolean","example":"true"},"set_upload_limit":{"type":"boolean","example":"true"},"upload_limit_per_user":{"type":"int","example":"10"},"upload_file_size_limit":{"type":"string","example":"250 KB"},"override_name_exist":{"type":"boolean","example":"false"},"notify_every_submissions":{"type":"boolean","example":"true"},"each_user_each_folder_fields":{"type":"list","example":"[\"email\"]"},"request_user_data":{"type":"boolean","example":"true"},"input_fields":{"type":"list","example":"[{\"field_name\":\"Name\",\"field_type\":\"TEXT\",\"is_name_field\":true},{\"field_name\":\"Phone\",\"field_type\":\"PHONE\"},{\"field_name\":\"Email\",\"field_type\":\"EMAIL_ID\"}]"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Collections"}}}}},"security":[{"Authorization":["WorkDrive.Collection.CREATE"]}]}},"api/v1/collections#createInternalCollection":{"post":{"tags":["Collect Files"],"summary":"Create Internal Collection","requestType":"http","operationId":"create_createInternalCollection","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Collect Files","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"collections"},"attributes":{"type":"object","properties":{"parent_id":{"type":"string","example":"vx57jc433ffa2c7524c51a5205d1849bc92fa"},"collection_name":{"type":"string","example":"Event Leads"},"personal_note":{"type":"string","example":"Analysis potential leads and assign them to the Sales team"},"uploader_note":{"type":"string","example":"Share all leads that you have collected in the recent Dubai Trade Fair"},"expiration_date":{"type":"string","example":"2021-05-20 11:45"},"is_external":{"type":"boolean","example":"false"},"upload_file_size_limit":{"type":"string","example":"10 MB"},"override_name_exist":{"type":"boolean","example":"false"},"notify_every_submissions":{"type":"boolean","example":"true"},"each_user_each_folder_fields":{"type":"list","example":"[\"name\"]"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Collections"}}}}},"security":[{"Authorization":["WorkDrive.Collection.CREATE"]}]}},"api/v1/comments#addReply":{"post":{"tags":["Comments"],"summary":"Create Reply","requestType":"http","operationId":"create_addReply","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Comments","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"comments"},"attributes":{"type":"object","properties":{"resource_id":{"type":"string","example":"ly9zm850678101cec4b0698777ab4534a3002"},"comment_html":{"type":"string","example":"Fine"},"parent_comment_id":{"type":"string","example":"ly9zm850678101cec4b0698777ab4534a3002-2774428000000002063"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Comment"}}}}},"security":[{"Authorization":["WorkDrive.comments.CREATE"]}]}},"api/v1/comments#addComment":{"post":{"tags":["Comments"],"summary":"Create Comment","requestType":"http","operationId":"create_addComment","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Comments","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"comments"},"attributes":{"type":"object","properties":{"resource_id":{"type":"string","example":"ly9zm850678101cec4b0698777ab4534a3002"},"comment_html":{"type":"string","example":"Fine"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Comment"}}}}},"security":[{"Authorization":["WorkDrive.comments.CREATE"]}]}},"api/v1/datatemplates/{data_template_id}/customfields#createCustomField":{"post":{"tags":["Data Templates and Custom Fields"],"summary":"Create Custom Field","requestType":"http","operationId":"create_createCustomField","parameters":[{"name":"data_template_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Data Templates and Custom Fields","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"customfields"},"attributes":{"type":"object","properties":{"display_name":{"type":"string","example":"Role"},"type":{"type":"string","example":"dropdown"},"field_properties":{"type":"customfieldproperties","format":"json","example":"{ \"is_mandatory\":true, \"description\":\"Role of the candidate\", \"default_value\":\"\" }"},"choices":{"type":"list","format":"json","example":"[{\"key\":\"Developer\"},{\"key\":\"Designers\"}, {\"key\":\"Marketer\"}]"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomFields"}}}}},"security":[{"Authorization":["WorkDrive.DataTemplates.CREATE"]}]}},"api/v1/custommetadata#associateFileFolderToDataTemplate":{"post":{"tags":["Data Templates and Custom Fields"],"summary":"Associate File/Folder to Data Template","requestType":"http","operationId":"create_associateFileFolderToDataTemplate","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Data Templates and Custom Fields","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"custommetadata"},"attributes":{"type":"object","properties":{"resource_id":{"type":"string","example":"nrkrocca1fef45ba243319cb8643393b6b52b"},"data_template_id":{"type":"string","example":"nrkroc4c5f3259e2a410da17c3915ea990dde-24000000581001"},"custom_data":{"type":"list","example":"[{\"custom_field_id\":\"nrkroc4c5f3259e2a410da17c3915ea990dde-MjQwMDAwMDA1ODEwMDEtMjQwMDAwMDA1ODIwMDE\", \"value\":\"John\"}, {\"custom_field_id\":\"nrkroc4c5f3259e2a410da17c3915ea990dde-MjQwMDAwMDA1ODEwMDEtMjQwMDAwMDA1ODIwMDI\", \"value\":\"Developer\"}]"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomMetaData"}}}}},"security":[{"Authorization":["WorkDrive.DataTemplates.CREATE"]}]}},"api/v1/custommetadata#associateMultipleFileFolderToDataTemplate":{"post":{"tags":["Data Templates and Custom Fields"],"summary":"Associate Multiple Files/Folders to Data Template","requestType":"http","bulkLimit":"100","operationId":"create_associateMultipleFileFolderToDataTemplate","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Data Templates and Custom Fields","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"custommetadata"},"attributes":{"type":"object","properties":{"resource_id":{"type":"string","example":"nrkrod816f237389b4c05a65fc15b4a4dacc3"},"data_template_id":{"type":"string","example":"nrkroc4c5f3259e2a410da17c3915ea990dde-24000000581001"},"custom_data":{"type":"list","example":"[{\"custom_field_id\":\"nrkroc4c5f3259e2a410da17c3915ea990dde-MjQwMDAwMDA1ODEwMDEtMjQwMDAwMDA1ODIwMDE\", \"value\":\"Alex\"}, {\"custom_field_id\":\"nrkroc4c5f3259e2a410da17c3915ea990dde-MjQwMDAwMDA1ODEwMDEtMjQwMDAwMDA1ODIwMDI\", \"value\":\"Developer\"}]"}}}}},{"title":"Data Templates and Custom Fields","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"custommetadata"},"attributes":{"type":"object","properties":{"resource_id":{"type":"string","example":"nrkro483e7e45e2d04efdb5a11c00ce68def5"},"data_template_id":{"type":"string","example":"nrkroc4c5f3259e2a410da17c3915ea990dde-24000000581001"},"custom_data":{"type":"list","example":"[{\"custom_field_id\":\"nrkroc4c5f3259e2a410da17c3915ea990dde-MjQwMDAwMDA1ODEwMDEtMjQwMDAwMDA1ODIwMDE\", \"value\":\"Peter\"}, {\"custom_field_id\":\"nrkroc4c5f3259e2a410da17c3915ea990dde-MjQwMDAwMDA1ODEwMDEtMjQwMDAwMDA1ODIwMDI\", \"value\":\"Developer\"}]"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomMetaData"}}}}},"security":[{"Authorization":["WorkDrive.DataTemplates.CREATE"]}]}},"api/v1/teams/{team_id}/datatemplates#createDataTemplate":{"post":{"tags":["Data Templates and Custom Fields"],"summary":"Create Data Template","requestType":"http","operationId":"create_createDataTemplate","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Data Templates and Custom Fields","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"datatemplates"},"attributes":{"type":"object","properties":{"name":{"type":"string","example":"Recruitment - 2020"},"description":{"type":"string","example":"Associate files and folders of all candidates registered for recruitment in 2020"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataTemplates"}}}}},"security":[{"Authorization":["WorkDrive.DataTemplates.CREATE"]}]}},"api/v1/teams/{team_id}/dlppolicy#createDlpPolicy":{"post":{"tags":["DLP Policy"],"summary":"Create a Data Loss Prevention Policy","requestType":"http","operationId":"create_createDlpPolicy","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object"}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DlpPolicy"}}}}},"security":[{"Authorization":["WorkDrive.DlpPolicy.CREATE"]}]}},"api/v1/groupmembers#addMemberInGroup":{"post":{"tags":["Group Members"],"summary":"Add Multiple Members to Group","requestType":"http","bulkLimit":"50","operationId":"create_addMemberInGroup","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Group Members","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"groupmembers"},"attributes":{"type":"object","properties":{"member_zuid":{"type":"string","example":"747938058"},"group_id":{"type":"string","example":"ly9zmae16b43c258f458a9a57ac02c4f8d763-2774428000000002023"},"role_id":{"type":"int","example":"31"}}}}},{"title":"Group Members","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"groupmembers"},"attributes":{"type":"object","properties":{"member_zuid":{"type":"string","example":"747938123"},"group_id":{"type":"string","example":"ly9zmae16b43c258f458a9a57ac02c4f8d763-2774428000000002024"},"role_id":{"type":"int","example":"31"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupMembers"}}}}},"security":[{"Authorization":["WorkDrive.groups.UPDATE"]}]}},"api/v1/groups#createGroup":{"post":{"tags":["Groups"],"summary":"Create Group","requestType":"http","operationId":"create_createGroup","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Groups","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"groups"},"attributes":{"type":"object","properties":{"name":{"type":"string","example":"Employees"},"parent_id":{"type":"string","example":"ly9zmae16b43c258f458a9a57ac02c4f8d763"},"description":{"type":"string","example":"Groups for employees"},"type":{"type":"int","example":"1"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Groups"}}}}},"security":[{"Authorization":["WorkDrive.groups.CREATE"]}]}},"api/v1/labels#createLabel":{"post":{"tags":["Labels"],"summary":"Create Label","requestType":"http","operationId":"create_createLabel","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Labels","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"labels"},"attributes":{"type":"object","properties":{"name":{"type":"string","example":"Product Design"},"color":{"type":"string","example":"FBE983"},"user_id":{"type":"string","example":"5nek5a28a8c9201f64a07b7196524264ed528-181767000000047009"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Labels"}}}}},"security":[{"Authorization":["WorkDrive.labels.CREATE"]}]}},"api/v1/labels/{label_id}/relationships/files#addResourceLabels":{"post":{"tags":["Labels"],"summary":"Add Label to File/Folder","requestType":"http","operationId":"addRelations_addResourceLabels","parameters":[{"name":"label_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Labels","required":["id","type"],"type":"object","properties":{"id":{"type":"string","example":["ly9zm1d1ee3b833c1438a9232ad6ac77bc8f2","ly9zm3c10f18ca7e3422db10f5b335d33b0cc"]},"type":{"type":"string","example":"files"},"attributes":{"type":"object","properties":{"resource_id":{"type":"string","example":"ly9zm1d1ee3b833c1438a9232ad6ac77bc8f2"}}}}},{"title":"Labels","required":["id","type"],"type":"object","properties":{"id":{"type":"string","example":["ly9zm1d1ee3b833c1438a9232ad6ac77bc8f2","ly9zm3c10f18ca7e3422db10f5b335d33b0cc"]},"type":{"type":"string","example":"files"},"attributes":{"type":"object","properties":{"resource_id":{"type":"string","example":"ly9zm3c10f18ca7e3422db10f5b335d33b0cc"}}}}}]}}},"required":true},"responses":{"204":{"description":"NoContent"}},"security":[{"Authorization":["WorkDrive.files.CREATE"]}]}},"api/v1/links#createShareLink":{"post":{"tags":["External Sharing"],"summary":"Create External Share Custom Link","requestType":"http","operationId":"create_createShareLink","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"External Sharing","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"links"},"attributes":{"type":"object","properties":{"resource_id":{"type":"string","example":"cjrrr81bad43595d94a5bbbb4ea1589ef9236"},"link_name":{"type":"string","example":"notes"},"request_user_data":{"type":"boolean","example":"true"},"allow_download":{"type":"boolean","example":"true"},"password_text":{"type":"string","example":"yourpassword"},"input_fields":{"type":"list","example":"[{\"field_name\":\"Name\",\"field_type\":\"TEXT\",\"is_name_field\":true}]"},"role_id":{"type":"int","example":"7"},"expiration_date":{"type":"string","example":"2021-04-15"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Link"}}}}},"security":[{"Authorization":["WorkDrive.links.CREATE"]}]}},"api/v1/links#createDownloadLink":{"post":{"tags":["External Sharing"],"summary":"Create External Share Download Link","requestType":"http","operationId":"create_createDownloadLink","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"External Sharing","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"links"},"attributes":{"type":"object","properties":{"resource_id":{"type":"string","example":"cjrrr55b395f872ad4b0a8c52b02eab98c1c5"},"link_name":{"type":"string","example":"report2021"},"link_type":{"type":"string","example":"download"},"request_user_data":{"type":"boolean","example":"false"},"allow_download":{"type":"boolean","example":"true"},"expiration_date":{"type":"string","example":"2021-5-1"},"download_link":{"type":"json","format":"json","example":"{ \"download_limit\" : \"5\" }"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Link"}}}}},"security":[{"Authorization":["WorkDrive.links.CREATE"]}]}},"api/v1/members#shareTeamFolder":{"post":{"tags":["Team Folder Members"],"summary":"Add Members To Team Folder","requestType":"http","operationId":"create_shareTeamFolder","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Team Folder Members","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"members"},"attributes":{"type":"object","properties":{"resource_id":{"type":"string","example":"ly9zm0170fb40015f4e2297a144e2b68cfa68"},"shared_type":{"type":"string","example":"workspace"},"email_id":{"type":"string","example":"reyansh.ahuja@zylker.com"},"role_id":{"type":"int","example":"5"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Members"}}}}},"security":[{"Authorization":["WorkDrive.teamfolders.sharing.CREATE"]}]}},"api/v1/members#shareGroupsTeamFolder":{"post":{"tags":["Team Folder Members"],"summary":"Add Groups to Team Folder","requestType":"http","operationId":"create_shareGroupsTeamFolder","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Team Folder Members","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"members"},"attributes":{"type":"object","properties":{"resource_id":{"type":"string","example":"8fv34f20c00bf4b6840e4b8b5628fc7750514"},"shared_type":{"type":"string","example":"groupmembers"},"role_id":{"type":"int","example":"6"},"share_to":{"type":"string","example":"lv0t141d6ad9fc3e44dde94b823bae4dcb31b-23000000021001"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Members"}}}}},"security":[{"Authorization":["WorkDrive.teamfolders.sharing.CREATE"]}]}},"api/v1/permissions#shareGroupMember":{"post":{"tags":["File/Folder Sharing"],"summary":"Share Files/Folders to Group Members","requestType":"http","operationId":"create_shareGroupMember","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"File/Folder Sharing","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"permissions"},"attributes":{"type":"object","properties":{"resource_id":{"type":"string","example":"cjrrr81bad43595d94a5bbbb4ea1589ef9236"},"shared_type":{"type":"string","example":"groupmembers"},"role_id":{"type":"int","example":"34"},"expiration_date":{"type":"string","example":"1970-1-1 23:59:59"},"share_to":{"type":"string","example":"ly9zmae16b43c258f458a9a57ac02c4f8d763-2774428000000002021"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Permissions"}}}}},"security":[{"Authorization":["WorkDrive.files.sharing.CREATE"]}]}},"api/v1/permissions#shareEveryOne":{"post":{"tags":["File/Folder Sharing"],"summary":"Share Files/Folders to everyone on the Internet","requestType":"http","operationId":"create_shareEveryOne","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"File/Folder Sharing","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"permissions"},"attributes":{"type":"object","properties":{"resource_id":{"type":"string","example":"cjrrr55b395f872ad4b0a8c52b02eab98c1c5"},"shared_type":{"type":"string","example":"everyone"},"role_id":{"type":"int","example":"34"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Permissions"}}}}},"security":[{"Authorization":["WorkDrive.files.sharing.CREATE"]}]}},"api/v1/permissions#generateEmbed":{"post":{"tags":["File/Folder Sharing"],"summary":"Generate Embed Code for a Files/Folders","requestType":"http","operationId":"create_generateEmbed","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"File/Folder Sharing","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"permissions"},"attributes":{"type":"object","properties":{"resource_id":{"type":"string","example":"cjrrr55b395f872ad4b0a8c52b02eab98c1c5"},"shared_type":{"type":"string","example":"publish"},"role_id":{"type":"int","example":"34"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Permissions"}}}}},"security":[{"Authorization":["WorkDrive.files.sharing.CREATE"]}]}},"api/v1/permissions#shareIndividual":{"post":{"tags":["File/Folder Sharing"],"summary":"Share Files/Folders to Individual Team Members","requestType":"http","operationId":"create_shareIndividual","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"File/Folder Sharing","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"permissions"},"attributes":{"type":"object","properties":{"resource_id":{"type":"string","example":"cjrrrbba68351fce045a986ea712783c38fe6"},"shared_type":{"type":"string","example":"personal"},"email_id":{"type":"string","example":"reyansh.ahuja@zylker.com"},"role_id":{"type":"int","example":"5"},"expiration_date":{"type":"string","example":"1970-1-1 23:59:59"},"send_notification_mail":{"type":"boolean","example":"true"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Permissions"}}}}},"security":[{"Authorization":["WorkDrive.files.sharing.CREATE"]}]}},"api/v1/permissions#shareTeam":{"post":{"tags":["File/Folder Sharing"],"summary":"Share Files/Folders with Team","requestType":"http","operationId":"create_shareTeam","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"File/Folder Sharing","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"permissions"},"attributes":{"type":"object","properties":{"resource_id":{"type":"string","example":"ly9zm0170fb40015f4e2297a144e2b68cfa68"},"shared_type":{"type":"string","example":"teammembers"},"role_id":{"type":"int","example":"5"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Permissions"}}}}},"security":[{"Authorization":["WorkDrive.files.sharing.CREATE"]}]}},"api/v1/files/{resource_id}/importfile#importToNative":{"post":{"tags":["Files/Folders"],"summary":"Convert File to Zoho Format","requestType":"http","operationId":"create_importToNative","parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Files/Folders","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"files"},"attributes":{"type":"object","properties":{"resource_id":{"type":"string","example":"d1mlj59afbbdf85bb4cd5b95f8177e4e805dc"},"name":{"type":"string","example":"worksheet"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.files.CREATE"]}]}},"api/v1/files/{resource_id}/copy#multipleCopy":{"post":{"tags":["Files/Folders"],"summary":"Copy Multiple Files/Folders","requestType":"http","bulkLimit":"200","operationId":"create_multipleCopy","parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Files/Folders","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"files"},"attributes":{"type":"object","properties":{"resource_id":{"type":"string","example":"jxtee81865c6d7ed64dc596540aa30dfd2753"}}}}},{"title":"Files/Folders","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"files"},"attributes":{"type":"object","properties":{"resource_id":{"type":"string","example":"cjrrr6d1a5111809e4704a025dde678a0c523"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.files.CREATE"]}]}},"api/v1/files/{resource_id}/linkfile#createLinkFile":{"post":{"tags":["Files/Folders"],"summary":"Create Link file","requestType":"http","operationId":"create_createLinkFile","parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Files/Folders","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"files"},"attributes":{"type":"object","properties":{"name":{"type":"string","example":"WorkDrive"},"url_link":{"type":"string","example":"https://workdrive.zoho.com"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.files.CREATE"]}]}},"api/v1/files#createCustomizedFolder":{"post":{"tags":["Folder Customization"],"summary":"Create a new Customized Folder","requestType":"http","operationId":"create_createCustomizedFolder","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Folder Customization","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"files"},"attributes":{"type":"object","properties":{"name":{"type":"string","example":"Collection"},"customized":{"type":"boolean","example":"true"},"parent_id":{"type":"string","example":"0nk78318a1771da934f22939e4a00d8aab225"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.files.CREATE"]}]}},"api/v1/files/{library_id}/saveastemplate#saveresourceastemplate":{"post":{"tags":["Templates"],"summary":"Save File as Template","requestType":"array","operationId":"create_saveresourceastemplate","parameters":[{"name":"library_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Templates","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"files"},"attributes":{"type":"object","properties":{"resource_id":{"type":"string","example":"ly9zm1d1ee3b833c1438a9232ad6ac77bc8f2"},"name":{"type":"string","example":"Marketing Template"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.libraries.CREATE"]}]}},"api/v1/files#createFolder":{"post":{"tags":["Folders"],"summary":"Create Folder","requestType":"http","operationId":"create_createFolder","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Folders","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"files"},"attributes":{"type":"object","properties":{"name":{"type":"string","example":"Collection"},"parent_id":{"type":"string","example":"0nk78318a1771da934f22939e4a00d8aab225"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.files.CREATE"]}]}},"api/v1/files#createNewFile":{"post":{"tags":["Files/Folders"],"summary":"Create Zoho format files","requestType":"http","operationId":"create_createNewFile","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Files/Folders","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"files"},"attributes":{"type":"object","properties":{"name":{"type":"string","example":"ExpensesSheet"},"service_type":{"type":"string","example":"zohosheet"},"parent_id":{"type":"string","example":"0nk78318a1771da934f22939e4a00d8aab225"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.files.CREATE"]}]}},"api/v1/files/{resource_id}/copy#copyResource":{"post":{"tags":["Files/Folders"],"summary":"Copy File/Folder","requestType":"http","operationId":"create_copyResource","parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Files/Folders","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"files"},"attributes":{"type":"object","properties":{"resource_id":{"type":"string","example":"jxtee81865c6d7ed64dc596540aa30dfd2753"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resources"}}}}},"security":[{"Authorization":["WorkDrive.files.CREATE"]}]}},"api/v1/teamfolders#CreateTeamFolder":{"post":{"tags":["Team Folder"],"summary":"Create Team Folder","requestType":"http","operationId":"create_CreateTeamFolder","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Team Folder","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"teamfolders"},"attributes":{"type":"object","properties":{"name":{"type":"string","example":"Marketing Details"},"parent_id":{"type":"string","example":"ly9zmae16b43c258f458a9a57ac02c4f8d763"},"is_public_within_team":{"type":"boolean","example":"false"},"description":{"type":"string","example":"Marketing related files"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TeamFolders"}}}}},"security":[{"Authorization":["WorkDrive.teamfolders.CREATE"]}]}},"api/v1/files/{resource_id}/unzip#unZipFile":{"post":{"tags":["Files/Folders"],"summary":"Unzip File","requestType":"http","operationId":"create_unZipFile","parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Files/Folders","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"unzip"},"attributes":{"type":"object","properties":{"resource_id":{"type":"string","example":"cjrrr27f73d5b59a54b16aaf3cd74478a0fa2"},"selected_file_extraction":{"type":"boolean","example":"false"},"merge":{"type":"string","example":"no"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Unzip"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"api/v1/users#InviteNewUsers":{"post":{"tags":["Team Members"],"summary":"Invite New Member to Team","requestType":"http","bulkLimit":"500","operationId":"create_InviteNewUsers","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Team Members","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"users"},"attributes":{"type":"object","properties":{"email_id":{"type":"string","example":"reyansh.ahuja@zylker.com"},"category_id":{"type":"string","example":"ly9zmae16b43c258f458a9a57ac02c4f8d763"},"role_id":{"type":"integer","example":"30"}}}}},{"title":"Team Members","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"users"},"attributes":{"type":"object","properties":{"email_id":{"type":"string","example":"ryan.west@zylker.com"},"category_id":{"type":"string","example":"ly9zmae16b43c258f458a9a57ac02c4f8d763"},"role_id":{"type":"integer","example":"30"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Users"}}}}},"security":[{"Authorization":["WorkDrive.users.CREATE"]}]}},"api/v1/versions#restoreToVersion":{"post":{"tags":["File Version"],"summary":"Restore as Top Version","requestType":"http","operationId":"create_restoreToVersion","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"File Version","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"versions"},"attributes":{"type":"object","properties":{"resource_id":{"type":"string","example":"cjrrr55b395f872ad4b0a8c52b02eab98c1c5"},"revert_to":{"type":"string","example":"5.0"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Version"}}}}},"security":[{"Authorization":["WorkDrive.files.UPDATE"]}]}},"api/v1/createzip#createZipFile":{"post":{"tags":["Files/Folders"],"summary":"Create Multiple Files/Folders as ZIP","requestType":"http","operationId":"doPost_createZipFile","requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Files/Folders","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"files"},"attributes":{"type":"object","properties":{"resource_id":{"type":"string","example":"jxtee81865c6d7ed64dc596540aa30dfd2753,cjrrr6d1a5111809e4704a025dde678a0c523"},"name":{"type":"string","example":"reports"},"destination_id":{"type":"string","example":"6n758918f686c932a45fdbb08a699611761d7"}}}}}]}}},"required":true},"responses":{"default":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateZipServlet"}}}}},"security":[{"Authorization":["WorkDrive.files.READ"]}]}},"workdrive-api/v1/stream/upload#chunkFileUpload":{"post":{"tags":["Chunk Upload"],"summary":"Large File Upload as Chunks","requestType":"http","operationId":"doPost_chunkFileUpload","parameters":[{"name":"upload-id","in":"header","schema":{"type":"string"}},{"name":"Content-Range","in":"header","schema":{"type":"string"}},{"name":"x-streammode","in":"header","schema":{"type":"string"}},{"name":"Content-Length","in":"header","schema":{"type":"string"}}],"responses":{"default":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/UDServerHandler"}}}}},"security":[{"Authorization":["WorkDrive.files.CREATE,ZohoFiles.files.CREATE"]}],"servers":[{"url":"https://upload.zoho.com","variables":{}}]}},"api/v1/upload#UploadFile":{"post":{"tags":["Files/Folders"],"summary":"Upload File","requestType":"http","operationId":"doPost_UploadFile","parameters":[{"name":"filename","in":"body","schema":{"type":"string"}},{"name":"parent_id","in":"body","schema":{"type":"string"}},{"name":"override-name-exist","in":"body","schema":{"type":"string"}},{"name":"content","in":"body","schema":{"type":"string","format":"file"}}],"responses":{"default":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/UploadAPIServlet"}}}}},"security":[{"Authorization":["WorkDrive.files.CREATE"]}]}},"api/v1/upload#UploadNewVersion":{"post":{"tags":["File Version"],"summary":"Upload New Version","requestType":"http","operationId":"doPost_UploadNewVersion","parameters":[{"name":"filename","in":"body","schema":{"type":"string"}},{"name":"parent_id","in":"body","schema":{"type":"string"}},{"name":"override-name-exist","in":"body","schema":{"type":"string"}},{"name":"content","in":"body","schema":{"type":"string","format":"file"}}],"responses":{"default":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/UploadAPIServlet"}}}}},"security":[{"Authorization":["WorkDrive.files.CREATE"]}]}},"workdrive-api/v1/stream/upload#UploadLargeFile":{"post":{"tags":["Files/Folders"],"summary":"Upload Large File >250MB","requestType":"http","operationId":"doPut_UploadLargeFile","parameters":[{"name":"x-filename","in":"header","schema":{"type":"string"}},{"name":"x-parent_id","in":"header","schema":{"type":"string"}},{"name":"upload-id","in":"header","schema":{"type":"string"}},{"name":"x-override-name-exist","in":"header","schema":{"type":"string"}},{"name":"x-streammode","in":"header","schema":{"type":"string"}}],"responses":{"default":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/UploadAPIServlet"}}}}},"security":[{"Authorization":["WorkDrive.files.CREATE,ZohoFiles.files.CREATE"]}],"servers":[{"url":"https://upload.zoho.com","variables":{}}]}},"api/v1/uploadsession/{resource_id}/commit#chunkRevisionUploadCommitSession":{"post":{"tags":["Chunk Upload"],"summary":"Commit Session for Revision Upload","requestType":"http","operationId":"doPost_chunkRevisionUploadCommitSession","parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"upload_id","in":"query","schema":{"type":"string"},"example":"{upload_id}"}],"responses":{"default":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/UploadSession"}}}}},"security":[{"Authorization":["WorkDrive.files.UPDATE"]}]}},"api/v1/uploadsession/create#chunkUploadCreateSession":{"post":{"tags":["Chunk Upload"],"summary":"Create Session (Normal Upload)","requestType":"http","operationId":"doPost_chunkUploadCreateSession","parameters":[{"name":"size","in":"query","schema":{"type":"string"},"example":"{size_of_the_file}"},{"name":"file_name","in":"query","schema":{"type":"string"},"example":"{name_of_the_file}"},{"name":"parent_id","in":"query","schema":{"type":"string"},"example":"{parent_id}"},{"name":"name_conflict","in":"query","schema":{"type":"string"},"example":"fail"}],"responses":{"default":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/UploadSession"}}}}},"security":[{"Authorization":["WorkDrive.files.CREATE"]}]}},"api/v1/uploadsession/commit#chunkUploadCommitSession":{"post":{"tags":["Chunk Upload"],"summary":"Commit Session (Normal Upload)","requestType":"http","operationId":"doPost_chunkUploadCommitSession","parameters":[{"name":"upload_id","in":"query","schema":{"type":"string"},"example":"{upload_id}"},{"name":"parent_id","in":"query","schema":{"type":"string"},"example":"{parent_id}"},{"name":"file_name","in":"query","schema":{"type":"string"},"example":"{name_of_the_file}"},{"name":"name_conflict","in":"query","schema":{"type":"string"},"example":"fail"}],"responses":{"default":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/UploadSession"}}}}},"security":[{"Authorization":["WorkDrive.files.CREATE"]}]}},"api/v1/uploadsession/{resource_id}/create#chunkRevisionUploadCreateSession":{"post":{"tags":["Chunk Upload"],"summary":"Create Session for Revision Upload","requestType":"http","operationId":"doPost_chunkRevisionUploadCreateSession","parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"size","in":"query","schema":{"type":"string"},"example":"{size_of_the_file}"}],"responses":{"default":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/UploadSession"}}}}},"security":[{"Authorization":["WorkDrive.files.UPDATE"]}]}},"api/v1/category/{category_id}#deleteTemplateCategory":{"patch":{"tags":["Templates"],"summary":"Delete Category","requestType":"http","operationId":"save_deleteTemplateCategory","parameters":[{"name":"category_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Templates","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"category"},"attributes":{"type":"object","properties":{"status":{"type":"integer","example":"61"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Category"}}}}},"security":[{"Authorization":["WorkDrive.libraries.categories.UPDATE"]}]}},"api/v1/category/{category_id}#renameTemplateCategory":{"patch":{"tags":["Templates"],"summary":"Rename Category","requestType":"http","operationId":"save_renameTemplateCategory","parameters":[{"name":"category_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Templates","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"category"},"attributes":{"type":"object","properties":{"category_name":{"type":"string","example":"Marketing"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Category"}}}}},"security":[{"Authorization":["WorkDrive.libraries.categories.UPDATE"]}]}},"api/v1/collections/{collection_id}#externalToInternal":{"patch":{"tags":["Collect Files"],"summary":"Convert External Collection into Internal Collection","requestType":"http","operationId":"save_externalToInternal","parameters":[{"name":"collection_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Collect Files","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"collections"},"attributes":{"type":"object","properties":{"is_external":{"type":"boolean","example":"false"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Collections"}}}}},"security":[{"Authorization":["WorkDrive.Collection.UPDATE"]}]}},"api/v1/collections/{collection_id}#internalToExternal":{"patch":{"tags":["Collect Files"],"summary":"Convert Internal Collection into External Collection","requestType":"http","operationId":"save_internalToExternal","parameters":[{"name":"collection_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Collect Files","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"collections"},"attributes":{"type":"object","properties":{"is_external":{"type":"boolean","example":"true"},"request_user_data":{"type":"boolean","example":"true"},"input_fields":{"type":"list","example":"[{\"field_name\":\"Name\",\"field_type\":\"TEXT\",\"is_name_field\":true}]"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Collections"}}}}},"security":[{"Authorization":["WorkDrive.Collection.UPDATE"]}]}},"api/v1/collections/{collection_id}#updateCollectionSettings":{"patch":{"tags":["Collect Files"],"summary":"Update Collection Link Settings","requestType":"http","operationId":"save_updateCollectionSettings","parameters":[{"name":"collection_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.api+json":{"schema":{"type":"object","properties":[{"title":"Collect Files","required":["type"],"type":"object","properties":{"type":{"type":"string","example":"collections"},"attributes":{"type":"object","properties":{"collection_name":{"type":"string","example":"Event Leads - Dubai"},"expiration_date":{"type":"string","example":"never"},"upload_limit_per_user":{"type":"int","example":"false"},"each_user_each_folder":{"type":"boolean","example":"false"}}}}}]}}},"required":true},"responses":{"default":{"description":"default response","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Collections"}}}}},"security":[{"Authorization":["WorkDrive.Collection.UPDATE"]}]}},"api/v1/collections/{collection_id}#disable":{"patch":{"tags":["Collect Files"],"summary":"Disable Collection","requestType":"http","operationId"
[...]
